/** BACKGROUNDS **/
/* --------------------------------------
=========================================
    GLOBAL STYLES
=========================================
-----------------------------------------*/
html {
  height: 100%; }

body {
  /* height: 100%; */
  /* Made Buttons Unclickable */
  font-family: "Montserrat", sans-serif; }

/*---------------------------------------
   Typography
-----------------------------------------*/
/* HEADINGS */
h1,h2,h3,h4,h5,h6 {
  color: #333;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  text-align: center; }

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  text-align: center; }

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: bold; }

p {
  font-size: 12px; }

/*---------------------------------------
   LINKS
-----------------------------------------*/
a {
  color: #777777; }

a:hover {
  text-decoration: underline;
  color: #777777; }

a.darklink {
  color: #333333; }

a.darklink:hover {
  text-decoration: none;
  color: #000000; }

/* DEV AND NONPROFT MAIN PRICS */

  .developers {
    background: linear-gradient(rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.8)), url(/Images/Backgrounds/pinetree.jpeg);
    background-size: cover;
    background-position-x: center;
    border-right: 2px solid #F2F2F2; }

  .nonprofits {
    background: linear-gradient(rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.8)), url(https://images.unsplash.com/uploads/141103282695035fa1380/95cdfeef?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=e99246a59a35be751528c9e66c8b07e9);
    background-size: cover;
    background-position-x: center; }


/* Move stuff below Navbar */


  /*
   *
   * login-register modal
   * Autor: Creative Tim
   * Web-autor: creative.tim
   * Web script: http://creative-tim.com
   *
   */

  /*  Shake animation  */

  @charset "UTF-8";

  .animated {
    -webkit-animation-duration: 1s;
  	   -moz-animation-duration: 1s;
  	     -o-animation-duration: 1s;
  	        animation-duration: 1s;
  	-webkit-animation-fill-mode: both;
  	   -moz-animation-fill-mode: both;
  	     -o-animation-fill-mode: both;
  	        animation-fill-mode: both;
  }

  .animated.hinges {
  	-webkit-animation-duration: 2s;
  	   -moz-animation-duration: 2s;
  	     -o-animation-duration: 2s;
  	        animation-duration: 2s;
  }

  .animated.slow {
  	-webkit-animation-duration: 3s;
  	   -moz-animation-duration: 3s;
  	     -o-animation-duration: 3s;
  	        animation-duration: 3s;
  }

  .animated.snail {
  	-webkit-animation-duration: 4s;
  	   -moz-animation-duration: 4s;
  	     -o-animation-duration: 4s;
  	        animation-duration: 4s;
  }

  @-webkit-keyframes shake {
  	0%, 100% {-webkit-transform: translateX(0);}
  	10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
  	20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
  }

  @-moz-keyframes shake {
  	0%, 100% {-moz-transform: translateX(0);}
  	10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
  	20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
  }

  @-o-keyframes shake {
  	0%, 100% {-o-transform: translateX(0);}
  	10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
  	20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
  }

  @keyframes shake {
  	0%, 100% {transform: translateX(0);}
  	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
  	20%, 40%, 60%, 80% {transform: translateX(10px);}
  }

  .shake {
  	-webkit-animation-name: shake;
  	-moz-animation-name: shake;
  	-o-animation-name: shake;
  	animation-name: shake;
  }

  .login #fname {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 1px solid #e6e6e6;
  }
  .login #lname {

  }

  .login .modal-dialog{
      width: 400px;
  }
  .login .modal-footer{
      border-top: 0;
      margin-top: 0px;
      padding: 10px 20px 20px;
  }
  .login .modal-header {
      border: 0 none;
      padding: 15px 15px 15px;
  /*     padding: 11px 15px; */
  }
  .login .modal-body{
  /*     background-color: #eeeeee; */
  }
  .registerBox {
    padding-top: 0px;
  }
  .login .division {
      float: none;
      margin: 0 auto 18px;
      overflow: hidden;
      position: relative;
      text-align: center;
      width: 100%;
  }
  .login .division .line {
      border-top: 1px solid #DFDFDF;
      position: absolute;
      top: 10px;
      width: 34%;
  }
  .login .division .line.l {
      left: 0;
  }
  .login .division .line.r {
      right: 0;
  }
  .login .division span {
      color: #424242;
      font-size: 17px;
  }
  .login .box .social {
      float: none;
      margin: 0 auto 30px;
      text-align: center;
  }

  .login .social .circle{
      background-color: #EEEEEE;
      color: #FFFFFF;
      border-radius: 100px;
      display: inline-block;
      margin: 0 17px;
      padding: 15px;
  }
  .login .social .circle .fa{
      font-size: 16px;
  }
  .login .social .facebook{
      background-color: #455CA8;
      color: #FFFFFF;
  }
  .login .social .google{
      background-color: #F74933;
  }
  .login .social .github{
      background-color: #403A3A;
  }
  .login .facebook:hover{
      background-color: #6E83CD;
  }
  .login .google:hover{
      background-color: #FF7566;
  }
  .login .github:hover{
      background-color: #4D4D4d;;
  }
  .login .forgot {
      color: #797979;
      margin-left: 0;
      overflow: hidden;
      text-align: center;
      width: 100%;
  }
  .login .btn-login, .registerDeveloperBox .btn-register, .registerNonprofitBox .btn-register{
      background-color: #FFB42E;
      border-color: #FFB42E;
      border-width: 0;
      color: #333;
      display: block;
      margin: 0 auto;
      padding: 15px;
      text-transform: uppercase;
      width: 100%;
  }
  .login .btn-login:hover, .registerDeveloperBox .btn-register:hover, .registerNonprofitBox .btn-register:hover {
      background-color: #ffc02e;
      color: #333;
  }
  .login .form-control{
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.09);
      box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
      color: #FFFFFF;
  }
  .login .form-control:hover{
      background-color: rgba(0,0,0,.16);
  }
  .login .form-control:focus{
      box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04) inset;
      background-color: rgba(0,0,0,0.23);
      color: #FFFFFF;
  }
  .login .box .form input[type="text"], .login .box .form input[type="password"] {
      border-radius: 3px;
      border: none;
      color: #333333;
      font-size: 16px;
      height: 46px;
      margin-bottom: 5px;
      padding: 13px 12px;
      width: 100%;
  }


  @media (max-width:400px){
      .login .modal-dialog{
          width: 100%;
      }
  }

  .big-login, .big-register{
      background-color: #FFB42E;
      color: #FFFFFF;
      border-radius: 7px;
      border-width: 2px;
      font-size: 14px;
      font-style: normal;
      font-weight: 200;
      padding: 16px 60px;
      text-transform: uppercase;
      transition: all 0.3s ease 0s;
  }
  .big-login:hover{
      background-color: #ffc02e;
      color: #FFFFFF;
  }
  .big-register{
      background-color: rgba(0,0,0,.0);
      color: #FFB42E;
      border-color: #FFB42E;
  }
  .big-register:hover{
      border-color: #00A4E4;
      color:  #00A4E4;
  }

  .modal-panel {
    height: 200px;
    padding: 12.5% 12.5%;
  }

  .modal-panel h3 {
    color: #fff !important;
    font-style: italic;
    text-transform: capitalize;
  }

/*---------------------------------------
   BUTTONS
-----------------------------------------*/
button, .btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding: 10px 20px;
  margin: 2.5px;
  border-radius: 4px;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out; }

.btn-small {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding: 5px 10px;
  margin: 2.5px;
  border-radius: 4px;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out; }

.no-transition {
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -o-transition: color 0 ease-in !important;
  transition: none !important; }

button:focus {
  outline: 0;
  border: 3px solid #2980B9; }

.primary-btn {
  border: 3px solid #FFB42E;
  background-color: #FFB42E;
  color: #F2F2F2; }

.primary-btn:hover {
  color: #F2F2F2; }

.default-btn {
  border: 3px solid #333333;
  background: none; }

.default-btn:hover {
  background-color: #e4e3e1; }

.light-btn {
  border: 3px solid #333333;
  background-color: #e4e3e1; }

.light-btn:hover {
  background-color: #CFCDCA; }

.dark-btn {
  border: 3px solid #333333;
  background-color: #333333;
  color: #e4e3e1; }

.dark-btn:hover {
  color: #333333;
  background-color: #e4e3e1 !important; }

.dark-on-dark-btn {
  border: 3px solid #e4e3e1;
  background-color: #333333;
  color: #e4e3e1; }

.dark-on-dark-btn:hover {
  opacity: .9; }

/*----------------------------------------------------------

    UTILITIES

----------------------------------------------------------*/
.white {
  color: #F2F2F2 !important; }

.dark {
  color: #333 !important; }

/*----------------------------------------------------------
    BREAKPOINTS FOR BOOTSTRAP
    -------------------------------------------------
    EXTRA SMALL DEVICES     @media(max-width:767px){}
    ie. phones
    -------------------------------------------------
    SMALL DEVICES           @media(min-width:768px){}
    ie. tablets
    -------------------------------------------------
    MEDIUM DEVICES          @media(min-width:992px){}
    ie. desktops
    -------------------------------------------------
    LARGE DEVICES          @media(min-width:1200px){}
    ie. largest
    -------------------------------------------------
----------------------------------------------------------*/
/*---------------------------------------------------------

    NAVBAR/SIDEBAR

----------------------------------------------------------*/
/* ===========================
   NAVBAR
============================== */
nav {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333333;
  /*
    background-image: url(../images/Logo/CLight.svg);
        background-size: auto 25px;
        background-position: center center;
        background-repeat: no-repeat;
    */
  /*box-shadow: 0px 0px 15px 5px #9A9A9A;*/
  /*box-shadow: 0px 0px 8px 5px #9A9A9A;*/
  color: #e4e3e1;
  z-index: 100;
  display: block; }

nav .left {
  list-style-type: none;
  padding: 0;
  float: left;
  display: table-row;
  margin-left: 1.5em; }

nav .right {
  float: right !important;
  margin-right: -15px; }

nav a {
  color: #e4e3e1;
  font-weight: normal;
  font-size: 12px; }

.logo {
  margin-top: 7px; }

nav img {
  height: 35px;
  width: auto; }

nav .logo {
  padding: 0; }

#MenuController {
  height: 25px;
  width: auto;
  background: none;
  border: none;
  margin-top: 14px; }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #222222;
  color: white; }

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #222222;
  color: white; }

a:hover {
  color: white; }

.dropdown > ul > li > a:hover {
  background-color: #e4e3e1; }

.dropdown > ul > li a > i {
  margin-left: -12px;
  margin-top: 2px;
  color: #FFB42E;
  font-size: 18px; }

.dropdown > ul > li > a > img {
  margin-left: 5px; }

.notif-image {
  height: 40px;
  border-radius: 50%; }

span.notif {
  margin-left: 10px; }

span.notif-name {
  font-weight: 700; }

#developerRegisterContainer {
  background: linear-gradient(rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.8)), url(/Images/Backgrounds/pinetree.jpeg);
  background-size: cover;
  background-position-x: center;
  padding: 50px; }

#nonprofitRegisterContainer {
  background: linear-gradient(rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.8)), url(https://images.unsplash.com/uploads/141103282695035fa1380/95cdfeef?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=e99246a59a35be751528c9e66c8b07e9);
  background-size: cover;
  background-position-x: center;
  padding: 50px; }

/* ===========================
   SIDEBAR

    My Dashboard
    -------
    Community
    Matches
    Real life jobs page
    -------
    My Activity
    -------
    Made with communicode
    -------
    Featured Projects/Tech Tip of the Week

============================== */
#sidebar {
  min-width: 250px;
  background-color: white;
  position: fixed;
  z-index: 75;
  top: 50px;
  bottom: 0;
  left: 0;
  transform: translateX(-250px);
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out; }

/* ===========================
   MAIN LINKS
============================== */
#sidebar .top {
  padding-top: 30px; }

#sidebar ul {
  list-style-type: none;
  padding: 0;
  font-size: 12px; }

#sidebar li {
  padding: 12px;
  padding-left: 30px;
  padding-right: 30px; }

#sidebar li:hover {
  background-color: #e4e3e1;
  cursor: pointer; }

/* ===========================
   FEATURED SECTION
============================== */
#sidebar .bottom {
  position: absolute;
  bottom: 0;
  width: 100%; }

#featured_link {
  color: #333333; }

#featured_link:hover {
  text-decoration: none; }

#sidebar #project:hover, #sidebar #nonprofit:hover {
  background-size: auto 120%; }

#sidebar #project, #sidebar #nonprofit {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  padding: 15px 15px;
  margin: 15px;
  margin-top: 0;
  color: white;
  background-size: cover;
  /*min-height: 150px;*/
  text-shadow: 0px 0px 15px #333;
  background-position: center center;
  box-shadow: inset 0px 0px 30px #555;
  opacity: .9;
  border-radius: 3px;
  /*border: 1px solid #E6E6E6;*/ }

/* ===========================
   FEATURED HEADINGS
============================== */
#sidebar #project h6, #sidebar #nonprofit h6 {
  text-transform: uppercase;
  font-size: 18px;
  opacity: .99;
  /*font-weight: normal;*/
  margin: 0;
  margin-top: 15px; }

#sidebar #project h7, #sidebar #nonprofit h7 {
  font-size: 12px;
  font-weight: normal;
  opacity: .8; }

#sidebar #project i, #sidebar #nonprofit i {
  /*margin: 10px;
    margin-left: 0;*/ }

/* ===========================
   CONTROL BACKGROUNDS
============================== */
#sidebar #project {
  background-image: url(/Images/Backgrounds/pinetree.jpeg); }

#sidebar #nonprofit {
  background-image: url(/Images/Backgrounds/bamboo.jpeg); }

/* ===========================
   CONTROL OPEN/CLOSE
============================== */
.sidebar_open {
  transform: none !important;
  box-shadow: 0px 0px 20px #333; }

/* ==========================

Reusable Components

===========================*/
.divider {
  background: #333;
  height: 50px; }

/* ====================================================================================================
   BREAKPOINT CONTROLS
==================================================================================================== */
/*-------------------------------------------------
    EXTRA SMALL DEVICES                    ie. phones
    -------------------------------------------------*/
@media (max-width: 767px) {
  #sidebar {
    right: 0;
    transform: translateY(-100%); }
  footer {
    padding: 25px;
    height: 200px; }
  footer ul {
    padding: 0; } }

footer .copyright {
  color: #bebdbb;
  text-align: right; }

footer {
  background-color: #e4e3e1;
  padding: 50px;
  height: 250px;
  /* Seems necessary for overlap. Adjust to breakpoints or remove */
  left: 0;
  right: 0;
  bottom: 0;
  /*z-index: -100;
    position: fixed;*/ }
  footer #icon {
    width: 75%;
    max-width: 75px; }
  footer ul {
    list-style-type: none !important; }
    footer ul li {
      margin-bottom: 20px; }
  footer a {
    color: #bebdbb;
    font-family: "Montserrat", sans-serif;
    font-weight: bold; }
  footer a:hover {
    color: #111111; }
